@use "@/assets/scss/_vars.scss" as vars;

@mixin common-styles {
  font-family: Archivo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include common-styles;
  background-color: #fff;
  color: vars.$colorWhiteTheme;
}

.dark-mode body {
  @include common-styles;
  background-color: vars.$darkBg;
  color: vars.$colorDarkTheme;
}

a {
  color: vars.$colorWhiteTheme;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: vars.$justBlack;
    text-decoration: none;
  }
}

.dark-mode a {
  color: vars.$colorDarkTheme;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: vars.$justWhite;
    text-decoration: none;
  }
}

.dark-mode h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$justWhite;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$justBlack;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}


ul, ol {
  list-style-type: none;
 }